# ==================================================
# Nezha Server 基础配置
# ==================================================

# Web 服务对外监听端口
NEZHA_HTTP_PORT=8008

# ==================================================
# 时区配置
# ==================================================
TZ=Asia/Shanghai