# ======================================================
# Global
# ======================================================

# Timezone for nginx-proxy-manager container
TZ=Asia/Shanghai


# ======================================================
# nginx-proxy-manager Database Configuration
# External MariaDB / MySQL (Platform-level resource)
# ======================================================

# Database host (MariaDB / MySQL server address)
# Example: mariadb, mysql, 192.168.1.10
NPM_DB_HOST=mariadb

# Database port
# Default MySQL/MariaDB port: 3306
NPM_DB_PORT=3306

# Database user for nginx-proxy-manager
# This user must already exist in the database server
NPM_DB_USER=npm

# Database user password
NPM_DB_PASSWORD=change_me

# Logical database name for nginx-proxy-manager
# One application, one logical database
# Database must be created in advance
NPM_DB_NAME=nginx_proxy_manager
